#main {
  color: white;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
html {
  width:100vw;
  height: 100vh;
}
#gems {
  justify-content: flex-start;
  align-items: flex-start;
}

/*
#hearts {
  justify-content:flex-end;
  align-items:flex-start;
}

#stats {
  
  justify-content:flex-end;
  align-items:flex-start;
}

#teacher {
  justify-content:flex-end;
  align-items:flex-end;
}

#board {
  justify-content:center;
  align-items:center;
}

Col {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
} */